@import "@styles/common.scss";

#plan-container-wrapper {
    background: #262a30 url(../../assets/images/example-how.jpeg) no-repeat center center;
    background-size: cover;
    margin-top: 75px;
    .card{
        cursor: pointer;
        border: unset;
        .card-header, .card-body{
            padding:25px
        }
    }

    .selected {
        .card-header{
            box-sizing: border-box !important;
            border-top: 10px solid $success;
            // padding-top: 15px !important;
        }
    }
}

@include media-breakpoint-up(xl) { 
    #shipping-container-wrapper{
        p{
            min-height: 170px;
        }
    }
 }

